<?xml version="1.0" encoding="UTF-8" ?>

<mapper name="userMstMapper">
	<select id="findByUK" parameterType="userMstEntity" resultType="userMstEntity">
		SELECT
			user_id as userId,
			user_name as userName
		FROM
			user_mst
		WHERE
			user_id = {{.UserId}}
	</select>

	<select id="test" parameterType="UserMstEntity" resultType="UserMstEntity">
		SELECT
			user_id as userId,
			user_name as userName
		FROM
			user_mst
		WHERE
			user_id = {{.UserId}}
	</select>

	<insert id="FindByUK" parameterType="UserMstEntity">
		INSERT INTO
			test
	</insert>

	<update id="FindByUK" parameterType="UserMstEntity">
		UPDATE
			test
	</update>

	<delete id="FindByUK" parameterType="UserMstEntity">
		DELETE
			test
	</delete>
</mapper>